<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'verivent_failed/style.css' %}" />
    <link href="{% static 'verivent_failed/failedverification.css' %}" rel="stylesheet" />
  </head>
  <body style="margin-left:10%;margin-right:10%">
    <div>

      <div class="verification-status-negative-container">
        <div class="verification-status-negative-verification-status-negative">
          <div class="verification-status-negative-header1">
            <div class="verification-status-negative-backgroundsec">
              <div class="verification-status-negative-hero8bgshapecoverdark">
                <div class="verification-status-negative-heroshapewave2">
                  <img
                    src="{% static 'verivent_failed/image/vector7520-m4co.svg' %}"
                    alt="Vector7520"
                    class="verification-status-negative-vector"
                  />
                  <span class="verification-status-negative-text h3">
                    <span class="verification-status-negative-text01">
                      Company with
                    </span>
                    <span class="verification-status-negative-text02">RC</span>
                    <span class="verification-status-negative-text03"></span>
                    <span class="verification-status-negative-text04">
                      34568902
                    </span>
                    <span>is registered</span>
                  </span>
                  <img
                    src="{% static 'verivent_failed/image/rectangle3267520-jhzs-200h.png' %}"
                    alt="Rectangle3267520"
                    class="verification-status-negative-rectangle326"
                  />
                </div>
              </div>
            </div>
            <div class="verification-status-negative-frame33692">
              <img
                src="{% static 'verivent_failed/image/rectangle3257520-4yd-1000h.png' %}"
                alt="Rectangle3257520"
                class="verification-status-negative-rectangle325"
              />
              <span class="verification-status-negative-text06 h3">
                <span>VERIFICATION STATUS</span>
              </span>
              <div class="verification-status-negative-frame16">
                <span class="verification-status-negative-text08 h2">
                  <span>
                    <span>START-UP VERIFICATION</span>
                    <br />
                    <span>FAILED</span>
                  </span>
                </span>
              </div>
              <div class="verification-status-negative-group6">
                <div class="verification-status-negative-frame13">
                  <span class="verification-status-negative-text13">
                    <span>RETURN HOME</span>
                  </span>
                </div>
              </div>
              <div class="verification-status-negative-group5">
                <div class="verification-status-negative-frame131">
                  <span class="verification-status-negative-text15">
                    <span><a href="#">VERIFY ANOTHER START-UP</a></span>
                  </span>
                </div>
              </div>
              <span class="verification-status-negative-text17">
                <span>Message</span>
              </span>
              <span class="verification-status-negative-text19">
                <span class="verification-status-negative-text20">
                  <span>
                    The business registration number you inputed is not verified
                    on our corporate
                  </span>
                  <br />
                  <span>Identity verification portal.</span>
                  <br />
                  <span>
                    Kindly check the number again or contact the Corporate
                    Affairs Commission
                  </span>
                  <br />
                  <span>for your complaint.</span>
                  <br />
                  <span></span>
                  <br />
                  <span>Thank you.</span>
                  <br />
                  <span></span>
                </span>
                <span>Verivent Team</span>
              </span>
            </div>
          </div>
          <div class="verification-status-negative-group61">
            <div class="verification-status-negative-footer">
              <div class="verification-status-negative-div"></div>
              <div class="verification-status-negative-container1">
                <div class="verification-status-negative-row">
                  <div class="verification-status-negative-colmd7">
                    <div class="verification-status-negative-privacy-terms">
                      <span class="verification-status-negative-text35">
                        <span>Privacy Policy</span>
                      </span>
                      <span
                        class="verification-status-negative-text37 RegularType@18"
                      >
                        |
                      </span>
                      <span class="verification-status-negative-text38">
                        <span>Terms &amp; Conditions</span>
                      </span>
                      <span
                        class="verification-status-negative-text40 RegularType@18"
                      >
                        |
                      </span>
                      <span class="verification-status-negative-text41">
                        <span>Cookie Policy</span>
                      </span>
                    </div>
                  </div>
                  <div class="verification-status-negative-colmd6">
                    <div class="verification-status-negative-socialmedia">
                      <div class="verification-status-negative-facebooksec">
                        <img
                          src="{% static 'verivent_failed/image/antdesignfacebookfilled7520-41t7.svg' %}"
                          alt="antdesignfacebookfilled7520"
                          class="verification-status-negative-antdesignfacebookfilled"
                        />
                      </div>
                      <div class="verification-status-negative-instagramsec">
                        <img
                          src="{% static 'verivent_failed/image/antdesigninstagramoutlined7521-x3ow.svg' %}"
                          alt="antdesigninstagramoutlined7521"
                          class="verification-status-negative-antdesigninstagramoutlined"
                        />
                      </div>
                      <div class="verification-status-negative-twittersec">
                        <img
                          src="{% static 'verivent_failed/image/antdesigntwitteroutlined7521-ggjy.svg' %}"
                          alt="antdesigntwitteroutlined7521"
                          class="verification-status-negative-antdesigntwitteroutlined"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="verification-status-negative-frame427320589">
            <span class="verification-status-negative-text43 h2">
              <span>VeriVent.</span>
            </span>
            <div class="verification-status-negative-frame33687">
              <div class="verification-status-negative-navigation-menu">
                <div class="verification-status-negative-products">
                  <span class="verification-status-negative-text45">
                    <span>Home</span>
                  </span>
                </div>
                <div class="verification-status-negative-company">
                  <span
                    class="verification-status-negative-text47 MediumType@18"
                  >
                    <span>Products</span>
                  </span>
                  <div class="verification-status-negative-arrowdown">
                    <div
                      class="verification-status-negative-vuesaxlineararrowdown"
                    >
                      <div class="verification-status-negative-arrowdown1">
                        <img
                          src="{% static 'verivent_failed/image/vector7531-yxv.svg' %}"
                          alt="Vector7531"
                          class="verification-status-negative-vector1"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <span class="verification-status-negative-text49 MediumType@18">
                  <span>Pricing</span>
                </span>
                <span class="verification-status-negative-text51 MediumType@18">
                  <span>User Guide</span>
                </span>
                <span class="verification-status-negative-text53 MediumType@18">
                  <span>Benefits</span>
                </span>
              </div>
              <button class="verification-status-negative-button">
                <span class="verification-status-negative-text55 MediumType@18">
                  <span>Login</span>
                </span>
              </button>
              <button class="verification-status-negative-button1">
                <span class="verification-status-negative-text57">
                  <span>Sign up</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
