<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'verivent_home/style.css' %}" />
    <link href="{% static 'verivent_home/dashboard.css' %}" rel="stylesheet" />
  </head>
  <body style="margin-left:10%;margin-right:10%">
    <div>

      <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-container">
        <div
          class="veri-vent-dashboard-i-n-v-e-s-t-o-r-veri-vent-dashboard-i-n-v-e-s-t-o-r"
        >
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-header1">
            <div
              class="veri-vent-dashboard-i-n-v-e-s-t-o-r-hero8bgshapecoverdark"
            >
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-heroshapewave2">
                <img
                  alt="Vector7524"
                  src="{% static 'verivent_home/image/vector7524-zz8m.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector"
                />
                <img
                  alt="Rectangle3267530"
                  src="{% static 'verivent_home/image/rectangle3267530-urcz-200h.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle326"
                />
                <div
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame1000004425"
                >
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text h2">
                    <span>VeriVent.</span>
                  </span>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame20">
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-dashboard">
                      <img
                        alt="bxsdashboard7529"
                        src="{% static 'verivent_home/image/bxsdashboard7529-qjfa.svg' %}"
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bxsdashboard"
                      />
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text002">
                        <span>Dashboard</span>
                      </span>
                    </div>
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-dashboard1">
                      <img
                        alt="icbaselineverifieduser7529"
                        src="{% static 'verivent_home/image/icbaselineverifieduser7529-q74p.svg' %}"
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-icbaselineverifieduser"
                      />
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text004">
                        <span>Start-up Verification History</span>
                      </span>
                    </div>
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-dashboard2">
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-iconparksetting"
                      >
                        <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group">
                          <img
                            alt="Vector7529"
                            src="{% static 'verivent_home/image/vector7529-srm.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector01"
                          />
                          <img
                            alt="Vector7529"
                            src="{% static 'verivent_home/image/vector7529-toc.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector02"
                          />
                        </div>
                      </div>
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-iconparksetting1"
                      >
                        <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1">
                          <img
                            alt="Vector7529"
                            src="{% static 'verivent_home/image/vector7529-fnm.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector03"
                          />
                          <img
                            alt="Vector7529"
                            src="{% static 'verivent_home/image/vector7529-r6ij.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector04"
                          />
                        </div>
                      </div>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text006">
                        <span>Settings</span>
                      </span>
                    </div>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame14">
                    <img
                      alt="Ellipse17529"
                      src="{% static 'verivent_home/image/ellipse17529-2web-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse1"
                    />
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text008">
                      <span>THOMAS WLLAMS</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group6">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-footer">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-div"></div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-container1">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-row">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-colmd7">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-privacy-terms"
                    >
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text010">
                        <span>Privacy Policy</span>
                      </span>
                      <span
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text012 RegularType@18"
                      >
                        |
                      </span>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text013">
                        <span>Terms &amp; Conditions</span>
                      </span>
                      <span
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text015 RegularType@18"
                      >
                        |
                      </span>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text016">
                        <span>Cookie Policy</span>
                      </span>
                    </div>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-colmd6">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-socialmedia"
                    >
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-facebooksec"
                      >
                        <img
                          alt="antdesignfacebookfilled7524"
                          src="{% static 'verivent_home/image/antdesignfacebookfilled7524-7m5r.svg' %}"
                          class="veri-vent-dashboard-i-n-v-e-s-t-o-r-antdesignfacebookfilled"
                        />
                      </div>
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-instagramsec"
                      >
                        <img
                          alt="antdesigninstagramoutlined7524"
                          src="{% static 'verivent_home/image/antdesigninstagramoutlined7524-jzn7.svg' %}"
                          class="veri-vent-dashboard-i-n-v-e-s-t-o-r-antdesigninstagramoutlined"
                        />
                      </div>
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-twittersec"
                      >
                        <img
                          alt="antdesigntwitteroutlined7524"
                          src="{% static 'verivent_home/image/antdesigntwitteroutlined7524-6g9.svg' %}"
                          class="veri-vent-dashboard-i-n-v-e-s-t-o-r-antdesigntwitteroutlined"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004335">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-chart7">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame273">
                <img
                  alt="Ellipse417526"
                  src="{% static 'verivent_home/image/ellipse417526-7poo-300w.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse41"
                />
                <img
                  alt="Ellipse427526"
                  src="{% static 'verivent_home/image/ellipse427526-5irk-300h.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse42"
                />
                <img
                  alt="Ellipse437526"
                  src="{% static 'verivent_home/image/ellipse437526-73ek-300w.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse43"
                />
                <img
                  alt="Ellipse447526"
                  src="{% static 'verivent_home/image/ellipse447526-g2e-300h.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse44"
                />
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text018">
                  <span>$79,760,00</span>
                </span>
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text020">
                  <span>Top 4 Sector</span>
                </span>
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame274">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame272">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame268">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame267"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text022">
                      <span>IT</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame269">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2671"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text024">
                      <span>Service</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame270">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2672"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text026">
                      <span>Trading</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame271">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2673"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text028">
                      <span>Agro</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text030">
              <span>Top Startups By Sector</span>
            </span>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004330">
              <img
                alt="Rectangle55477526"
                src="{% static 'verivent_home/image/rectangle55477526-j1o8-200h.png' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle5547"
              />
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004329">
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text032">
                  <span>Volume</span>
                </span>
                <img
                  alt="Shape7526"
                  src="{% static 'verivent_home/image/shape7526-xcp.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-shape"
                />
              </div>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004352">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-chart71">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2731">
                <img
                  alt="Ellipse417526"
                  src="{% static 'verivent_home/image/ellipse417526-ykln-300w.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse411"
                />
                <img
                  alt="Ellipse427526"
                  src="{% static 'verivent_home/image/ellipse427526-k3zt-300h.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse421"
                />
                <img
                  alt="Ellipse437526"
                  src="{% static 'verivent_home/image/ellipse437526-cke-300w.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse431"
                />
                <img
                  alt="Ellipse447526"
                  src="{% static 'verivent_home/image/ellipse447526-n54h-300h.png' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse441"
                />
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text034">
                  <span>$79,760,00</span>
                </span>
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text036">
                  <span>Top 4 Sector</span>
                </span>
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2741">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2721">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2681">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2674"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text038">
                      <span>Male</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2691">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2675"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text040">
                      <span>Female</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2701">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2676"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text042">
                      <span>Partnership</span>
                    </span>
                  </div>
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2711">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame2677"
                    ></div>
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text044">
                      <span>Others</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text046">
              <span>Top Startups By Ownership</span>
            </span>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group10000043301">
              <img
                alt="Rectangle55477526"
                src="{% static 'verivent_home/image/rectangle55477526-ssb7-200h.png' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle55471"
              />
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group10000043291">
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text048">
                  <span>Volume</span>
                </span>
                <img
                  alt="Shape7526"
                  src="{% static 'verivent_home/image/shape7526-7pqe.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-shape1"
                />
              </div>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33705">
            <img
              alt="Rectangle55617527"
              src="{% static 'verivent_home/image/rectangle55617527-ioz5-300w.png' %}"
              class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle5561"
            />
            <img
              alt="Rectangle55627527"
              src="{% static 'verivent_home/image/rectangle55627527-8m7m-200h.png' %}"
              class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle5562"
            />
            <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text050">
              <span>Top News</span>
            </span>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-close-button">
              <img
                alt="Rectangle197527"
                src="{% static 'verivent_home/image/rectangle197527-d61o-200w.png' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle19"
              />
              <img
                alt="XOutline7527"
                src="{% static 'verivent_home/image/xoutline7527-oa3.svg' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-x-outline"
              />
            </div>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004356">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004355">
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-0dxk.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector05"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-0reo.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector06"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-g6c9.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector07"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-cnh5.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector08"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-1f74.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector09"
                />
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group75860">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group75853">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group75852">
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group75859">
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text052">
                        <span>NASDAQ Daily</span>
                      </span>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text054">
                        <span>Giving you live reports from the...</span>
                      </span>
                    </div>
                  </div>
                </div>
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-era2.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector10"
                />
              </div>
              <img
                alt="Line997527"
                src="{% static 'verivent_home/image/line997527-olbh.svg' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-line99"
              />
            </div>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004357">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group10000043551">
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-79qr.svg' %}"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/media/vector7527-2s78.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector12"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-n0e.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector13"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-ncg.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector14"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-b7h.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector15"
                />
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758601">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758531">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758521">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758591"
                    >
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text056">
                        <span>NASDAQ Daily</span>
                      </span>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text058">
                        <span>Giving you live reports from the...</span>
                      </span>
                    </div>
                  </div>
                </div>
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-hg9m.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector16"
                />
              </div>
              <img
                alt="Line997527"
                src="{% static 'verivent_home/image/line997527-p8gr.svg' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-line991"
              />
            </div>
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004358">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group10000043552">
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-ubei.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector17"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-v5v4.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector18"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-114o.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector19"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-mrp.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector20"
                />
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-m38.svg' %}"
                />
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758602">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758532">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758522">
                    <div
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group758592"
                    >
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text060">
                        <span>NASDAQ Daily</span>
                      </span>
                      <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text062">
                        <span>Giving you live reports from the...</span>
                      </span>
                    </div>
                  </div>
                </div>
                <img
                  alt="Vector7527"
                  src="{% static 'verivent_home/image/vector7527-9ko6.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector22"
                />
              </div>
              <img
                alt="Line997527"
                src="{% static 'verivent_home/image/line997527-lxc.svg' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-line992"
              />
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33722">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004360">
              <img
                alt="Rectangle55597527"
                src="{% static 'verivent_home/image/rectangle55597527-rup-1300w.png' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-rectangle5559"
              />
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-status">
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text064">
                  <span>Startup Name</span>
                </span>
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33665">
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text066">
                    <span>Verified Date</span>
                  </span>
                </div>
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33666">
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text068">
                    <span>Value</span>
                  </span>
                </div>
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33667">
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text070">
                    <span>Founder</span>
                  </span>
                </div>
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33701">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33699">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group33696">
                    <img
                      alt="Ellipse87527"
                      src="{% static 'verivent_home/image/ellipse87527-lnb9-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse8"
                    />
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bank">
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vuesaxboldbank"
                      >
                        <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bank1">
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-sn4.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector23"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-qnf9.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector24"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-6z3l.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector25"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-62s.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector26"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-anv4.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector27"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-i7kc.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector28"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-iupo.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector29"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text072">
                    <span>VeriVent NG</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text074">
                    <span>Jan 01,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text076">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text078">
                    <span>Meraki Team</span>
                  </span>
                </div>
                <img
                  alt="Vector17528"
                  src="{% static 'verivent_home/image/vector17528-3oq7.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector1"
                />
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33703">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group336961">
                    <img
                      alt="Ellipse87528"
                      src="{% static 'verivent_home/image/ellipse87528-wr7g-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse81"
                    />
                    <img
                      alt="logospaypal7528"
                      src="{% static 'verivent_home/image/logospaypal7528-84a7.svg' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-logospaypal"
                    />
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text080">
                    <span>Meraki NG</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text082">
                    <span>Jan 04,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text084">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text086">
                    <span>TULAB</span>
                  </span>
                </div>
                <img
                  alt="Vector27528"
                  src="{% static 'verivent_home/image/vector27528-6jld.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector2"
                />
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33704">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group336962">
                    <img
                      alt="Ellipse87528"
                      src="{% static 'verivent_home/image/ellipse87528-2xqa-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse82"
                    />
                    <img
                      alt="logosfigma7528"
                      src="{% static 'verivent_home/image/logosfigma7528-fj4b.svg' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-logosfigma"
                    />
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text088">
                    <span>Chigo Robotics</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text090">
                    <span>Jan 06,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text092">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text094">
                    <span>Udo Chigozie</span>
                  </span>
                </div>
                <img
                  alt="Vector37528"
                  src="{% static 'verivent_home/image/vector37528-rxat.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector3"
                />
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame33702">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame336991">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group336963">
                    <img
                      alt="Ellipse87528"
                      src="{% static 'verivent_home/image/ellipse87528-5fp-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse83"
                    />
                    <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bank2">
                      <div
                        class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vuesaxboldbank1"
                      >
                        <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bank3">
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-urs2l.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector30"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-wyzk.svg' %}"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-f6nk.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector32"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-ou0yg.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector33"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-agxi.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector34"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-2e1.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector35"
                          />
                          <img
                            alt="VectorI752"
                            src="{% static 'verivent_home/image/vectori752-v7z6.svg' %}"
                            class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector36"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text096">
                    <span>Brainiac DS</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text098">
                    <span>Jan 01,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text100">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text102">
                    <span>B. Ajibade</span>
                  </span>
                </div>
                <img
                  alt="Vector17528"
                  src="{% static 'verivent_home/image/vector17528-f4qd.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector11"
                />
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame337031">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group336964">
                    <img
                      alt="Ellipse87528"
                      src="{% static 'verivent_home/image/ellipse87528-lblq-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse84"
                    />
                    <img
                      alt="logospaypal7528"
                      src="{% static 'verivent_home/image/logospaypal7528-6kp.svg' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-logospaypal1"
                    />
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text104">
                    <span>Tobe Hub</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text106">
                    <span>Jan 04,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text108">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text110">
                    <span>Tobechuckwu</span>
                  </span>
                </div>
                <img
                  alt="Vector27528"
                  src="{% static 'verivent_home/image/vector27528-8zi.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector21"
                />
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame337041">
                  <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group336965">
                    <img
                      alt="Ellipse87528"
                      src="{% static 'verivent_home/image/ellipse87528-p5hv-200h.png' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-ellipse85"
                    />
                    <img
                      alt="logosfigma7528"
                      src="{% static 'verivent_home/image/logosfigma7528-kr0d.svg' %}"
                      class="veri-vent-dashboard-i-n-v-e-s-t-o-r-logosfigma1"
                    />
                  </div>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text112">
                    <span>Loveth Innov</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text114">
                    <span>Jan 06,2022</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text116">
                    <span>$2,000.00</span>
                  </span>
                  <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text118">
                    <span>Loveth Akodu</span>
                  </span>
                </div>
                <img
                  alt="Vector37528"
                  src="{% static 'verivent_home/image/vector37528-0xv4.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector31"
                />
              </div>
              <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text120">
                <span>Top-Rated Verified Startups</span>
              </span>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-filter">
                <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group35"></div>
                <div
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004347"
                >
                  <div
                    class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004348"
                  >
                    <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text122">
                      <span>FIlter by Industry</span>
                    </span>
                  </div>
                  <img
                    alt="Vector7528"
                    src="{% static 'verivent_home/image/vector7528-zneq.svg' %}"
                    class="veri-vent-dashboard-i-n-v-e-s-t-o-r-vector37"
                  />
                </div>
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text124">
                  <span>Info Tech</span>
                </span>
              </div>
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame1000004424">
                <img
                  alt="Line1007528"
                  src="{% static 'verivent_home/image/line1007528-dti.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-line100"
                />
                <img
                  alt="Line1017528"
                  src="{% static 'verivent_home/image/line1017528-fcnj.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-line101"
                />
              </div>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame201">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-dashboard3">
              <img
                alt="bxsdashboard7530"
                src="{% static 'verivent_home/image/bxsdashboard7530-5cr.svg' %}"
                class="veri-vent-dashboard-i-n-v-e-s-t-o-r-bxsdashboard1"
              />
              <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text126">
                <span>Dashboard</span>
              </span>
            </div>
          </div>
          <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-frame1000004426">
            <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004243">
              <div class="veri-vent-dashboard-i-n-v-e-s-t-o-r-group1000004242">
                <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text128">
                  <span>Search by customer...</span>
                </span>
                <img
                  alt="Shape7530"
                  src="{% static 'verivent_home/image/shape7530-6i3c.svg' %}"
                  class="veri-vent-dashboard-i-n-v-e-s-t-o-r-shape2"
                />
              </div>
            </div>
            <button class="veri-vent-dashboard-i-n-v-e-s-t-o-r-button">
              <span class="veri-vent-dashboard-i-n-v-e-s-t-o-r-text130">
                <span>Search</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
