<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'verivent_investor_reg/style.css' %}" />

    <link
        href="{% static 'verivent_investor_reg/investor.css' %}"
        rel="stylesheet"
      />
  </head>
  <body>
    <div>

      <div
        class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-container"
      >
        <div
          class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3"
        >
          <div
            class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame427320612"
          >
            <div
              class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame427320593"
            >
              <img
                src="{% static 'verivent_investor_reg/image/rectangle3241374-jrq-700h.png' %}"
                alt="Rectangle3241374"
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-rectangle324"
              />
              <button
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-buttonbtnprimarycolor"
              >
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text btnText"
                >
                  <span>GET STARTED</span>
                </span>
              </button>
              <span
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text02 h2"
              >
                <span>Already have an account?</span>
              </span>
              <span
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text04 h3"
              >
                <span>
                  <span>Welcome back!</span>
                  <br />
                  <span>Sign in to Verify your startup credentials</span>
                </span>
              </span>
            </div>
            <div
              class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame427320595"
            >
              <span
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text09 btnText"
              >
                <span>Step 2/3</span>
              </span>
              <span
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text11"
              >
                <span>Personal Details</span>
              </span>
              <div
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame427320597"
              >
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-group1"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text13"
                  >
                    <span>FIRST NAME</span>
                  </span>
                  <div
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame11"
                  ></div>
                </div>
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-group2"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text15"
                  >
                    <span>LAST NAME</span>
                  </span>
                  <div
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame111"
                  ></div>
                </div>
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-group3"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text17"
                  >
                    <span>PHONE NUMBER</span>
                  </span>
                  <div
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame112"
                  ></div>
                </div>
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-group4"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text19"
                  >
                    <span>TITLE/ROLE</span>
                  </span>
                  <div
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame113"
                  >
                    <span
                      class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text21"
                    >
                      <span>Choose One</span>
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-group5"
              >
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame12"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text23"
                  >
                    <span>BACK</span>
                  </span>
                </div>
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame13"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text25"
                  >
                    <span>CONTINUE</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame427320589"
          >
            <span
              class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text27 h2"
            >
              <span>VeriVent.</span>
            </span>
            <div
              class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-frame33687"
            >
              <div
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-navigation-menu"
              >
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-products"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text29"
                  >
                    <span>Home</span>
                  </span>
                </div>
                <div
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-company"
                >
                  <span
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text31 MediumType@18"
                  >
                    <span>Products</span>
                  </span>
                  <div
                    class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-arrowdown"
                  >
                    <div
                      class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-vuesaxlineararrowdown"
                    >
                      <div
                        class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-arrowdown1"
                      >
                        <img
                          src="{% static 'verivent_investor_reg/image/vector7533-vm5m.svg' %}"
                          alt="Vector7533"
                          class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-vector"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text33 MediumType@18"
                >
                  <span>Pricing</span>
                </span>
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text35 MediumType@18"
                >
                  <span>User Guide</span>
                </span>
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text37 MediumType@18"
                >
                  <span>Benefits</span>
                </span>
              </div>
              <button
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-button"
              >
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text39 MediumType@18"
                >
                  <span>Login</span>
                </span>
              </button>
              <button
                class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-button1"
              >
                <span
                  class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-text41"
                >
                  <span>Sign up</span>
                </span>
              </button>
            </div>
          </div>
          <img
            src="{% static 'verivent_investor_reg/image/vector7524-pnis.svg' %}"
            alt="Vector7524"
            class="i-n-v-e-s-t-o-r-s-t-a-r-t-u-p-r-e-g-i-s-t-r-a-t-i-o-n3-vector1"
          />
        </div>
      </div>
    </div>
  </body>
</html>
