<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'verivent_login_details/style.css' %}" />
    <link href="{% static 'verivent_login_details/logindetails.css' %}" rel="stylesheet" />
  </head>
  <body style="margin-left:10%;margin-right:10%">
    <div>

      <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-container">
        <div
          class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s"
        >
          <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame427320613">
            <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame427320598">
              <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text btnText">
                <span>Step 3/3</span>
              </span>
              <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text02">
                <span>Login Details</span>
              </span>
              <form method="post" action="#">
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group1">
                <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text04">
                  <span>EMAIL ADDRESS</span>
                </span>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame11"><input type="text" placeholder="Email Address" name="email" class="form" style="width:100%;height:100%" /></div>
              </div>
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group2">
                <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text06">
                  <span>CREATE A PASSWORD</span>
                </span>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame111"><input type="password" placeholder="Password" name="password" class="form" style="width:100%;height:100%" /></div>
              </div>
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group3">
                <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text08">
                  <span>CONFIRM PASSWORD</span>
                </span>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame112"><input type="password" placeholder="Confirm Password" name="password" class="form" style="width:100%;height:100%" /></div>
              </div>
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group7">
                <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text10 btnText"><input type="checkbox" value="yes" name="check" class="form" />
                  <span>
                    By submitting this form, you have agreed to our Service
                    Agreement Level
                  </span>
                </span>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group4">
                  <div
                    class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame113"
                  ></div>
                </div>
              </div>
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-group5">
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame12">
                  <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text12">
                    <span>BACK</span>
                  </span>
                </div>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame13">
                  <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text14">
                    <span><a href="{% url 'signin' %}">COMPLETE REGISTRATION</a></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame427320599">
              <img
                src="{% static 'verivent_login_details/image/rectangle3241379-o6l-700h.png' %}"
                alt="Rectangle3241379"
                class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-rectangle324"
              />
              <button
                class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-buttonbtnprimarycolor"
              >
                <span
                  class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text16 btnText"
                >
                  <span>GET STARTED</span>
                </span>
              </button>
              <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text18 h2">
                <span>Already have an account?</span>
              </span>
              <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text20 h3">
                <span>
                  <span>Welcome back!</span>
                  <br />
                  <span>Sign in to Verify your startup credentials</span>
                </span>
              </span>
            </div>
          </div>
          <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame427320589">
            <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text25 h2">
              <span>VeriVent.</span>
            </span>
            <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-frame33687">
              <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-navigation-menu">
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-products">
                  <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text27">
                    <span>Home</span>
                  </span>
                </div>
                <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-company">
                  <span
                    class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text29 MediumType@18"
                  >
                    <span>Products</span>
                  </span>
                  <div class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-arrowdown">
                    <div
                      class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-vuesaxlineararrowdown"
                    >
                      <div
                        class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-arrowdown1"
                      >
                        <img
                          src="{% static 'verivent_login_details/image/vector7532-g0he.svg' %}"
                          alt="Vector7532"
                          class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-vector"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <span
                  class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text31 MediumType@18"
                >
                  <span>Pricing</span>
                </span>
                <span
                  class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text33 MediumType@18"
                >
                  <span>User Guide</span>
                </span>
                <span
                  class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text35 MediumType@18"
                >
                  <span>Benefits</span>
                </span>
              </div>
              <button class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-button">
                <span
                  class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text37 MediumType@18"
                >
                  <span>Login</span>
                </span>
              </button>
              <button class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-button1">
                <span class="c-r-e-a-t-e-l-o-g-i-n-d-e-t-a-i-l-s-text39">
                  <span>Sign up</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
