<!DOCTYPE html>
{% load static %}
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'verivent_startup_verification/style.css' %}" />
    <link href="{% static 'verivent_startup_verification/startupverification.css' %}" rel="stylesheet" />
  </head>
  <body style="margin-left:10%;margin-right:10%">
    <div>

      <div class="quick-verify-page-container">
        <div class="quick-verify-page-quick-verify-page">
          <div class="quick-verify-page-header1">
            <div class="quick-verify-page-frame33691">
              <img
                src="{% static 'verivent_startup_verification/image/heroshapewave22099-at42u.svg' %}"
                alt="heroshapewave22099"
                class="quick-verify-page-heroshapewave2"
              />
              <div class="quick-verify-page-group6">
                <div class="quick-verify-page-footer">
                  <div class="quick-verify-page-div"></div>
                </div>
                <div class="quick-verify-page-container1">
                  <div class="quick-verify-page-row">
                    <div class="quick-verify-page-colmd7">
                      <div class="quick-verify-page-privacy-terms">
                        <span class="quick-verify-page-text">
                          <span>Privacy Policy</span>
                        </span>
                        <span class="quick-verify-page-text02 RegularType@18">
                          |
                        </span>
                        <span class="quick-verify-page-text03">
                          <span>Terms &amp; Conditions</span>
                        </span>
                        <span class="quick-verify-page-text05 RegularType@18">
                          |
                        </span>
                        <span class="quick-verify-page-text06">
                          <span>Cookie Policy</span>
                        </span>
                      </div>
                    </div>
                    <div class="quick-verify-page-colmd6">
                      <div class="quick-verify-page-socialmedia">
                        <div class="quick-verify-page-facebooksec">
                          <img
                            src="{% static 'verivent_startup_verification/image/antdesignfacebookfilled6820-h5px5.svg' %}"
                            alt="antdesignfacebookfilled6820"
                            class="quick-verify-page-antdesignfacebookfilled"
                          />
                        </div>
                        <div class="quick-verify-page-instagramsec">
                          <img
                            src="{% static 'verivent_startup_verification/image/antdesigninstagramoutlined6820-1jzb.svg' %}"
                            alt="antdesigninstagramoutlined6820"
                            class="quick-verify-page-antdesigninstagramoutlined"
                          />
                        </div>
                        <div class="quick-verify-page-twittersec">
                          <img
                            src="{% static 'verivent_startup_verification/image/antdesigntwitteroutlined6820-z31.svg' %}"
                            alt="antdesigntwitteroutlined6820"
                            class="quick-verify-page-antdesigntwitteroutlined"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="quick-verify-page-frame33688">
              <img
                src="{% static 'verivent_startup_verification/image/rectangle3252011-os5-900w.png' %}"
                alt="Rectangle3252011"
                class="quick-verify-page-rectangle325"
              />
              <div class="quick-verify-page-group8">
                <form method="post">{% csrf_token %}
                <div class="quick-verify-page-group1">
                  <span class="quick-verify-page-text08">
                    <span>BUSINESS NAME</span>
                  </span>
                  <div class="quick-verify-page-frame11"><input type="text" placeholder="Business Name" name="name" style="width:100%;height:100%" ></div>
                </div>
                <div class="quick-verify-page-group2">
                  <span class="quick-verify-page-text10">
                    <span>REGISTERED BUSINESS NUMBER</span>
                  </span>
                  <div class="quick-verify-page-frame111"><input type="text" placeholder="Registered Business Number" name="biz_number" style="width:100%;height:100%" ></div>
                </div>
                <div class="quick-verify-page-group7">
                  <span class="quick-verify-page-text12 btnText">
                    <span>
                      By submitting this form, you have agreed to our Service
                      Agreement Level
                    </span>
                  </span>
                  <div class="quick-verify-page-frame112"></div>
                </div>
                <div class="quick-verify-page-group5">
                  <div class="quick-verify-page-frame13">
                    <span class="quick-verify-page-text14">
                      <span><button type="submit" style="text-white">VERIFY NOW</button></span>
                    </span>
                  </div>
                </form>
                </div>
                <span class="quick-verify-page-text16 h3">
                  <span>VERIFY A START-UP</span>
                </span>
              </div>
            </div>
          </div>
          <div class="quick-verify-page-frame427320589">
            <span class="quick-verify-page-text18 h2">
              <span>VeriVent.</span>
            </span>
            <div class="quick-verify-page-frame33687">
              <div class="quick-verify-page-navigation-menu">
                <div class="quick-verify-page-products">
                  <span class="quick-verify-page-text20">
                    <span>Home</span>
                  </span>
                </div>
                <div class="quick-verify-page-company">
                  <span class="quick-verify-page-text22 MediumType@18">
                    <span>Products</span>
                  </span>
                  <div class="quick-verify-page-arrowdown">
                    <div class="quick-verify-page-vuesaxlineararrowdown">
                      <div class="quick-verify-page-arrowdown1">
                        <img
                          src="{% static 'verivent_startup_verification/image/vector7531-fos.svg' %}"
                          alt="Vector7531"
                          class="quick-verify-page-vector"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <span class="quick-verify-page-text24 MediumType@18">
                  <span>Pricing</span>
                </span>
                <span class="quick-verify-page-text26 MediumType@18">
                  <span>User Guide</span>
                </span>
                <span class="quick-verify-page-text28 MediumType@18">
                  <span>Benefits</span>
                </span>
              </div>
              <button class="quick-verify-page-button">
                <span class="quick-verify-page-text30 MediumType@18">
                  <span>Login</span>
                </span>
              </button>
              <button class="quick-verify-page-button1">
                <span class="quick-verify-page-text32">
                  <span>Sign up</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
